@using MealPrep.Models;
@using System.Collections.Generic;
@using System.Web;
@using System;

<h1>What are ya hungry for?</h1>

<h1>Meal</h1>

<h3>@Model.meals[0].title</h3>
<p>@Model.meals[0].sourceUrl</p>

