@using MealPrep.Models;
@using System.Collections.Generic;
@using System.Web;
@using System;

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>What do you want to eat?</title>
  </head>
  <body>
    <form action="/meals" method="post">
      <label for="ingredient">Add a new item</label>
      <input id="ingredient" name="ingredient" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>



