.background {
  background-color: #0CCE6B;
}

.center {
  text-align: center;
}

.searchBar {
  background-color: #ED7D3A;
  top: 0;
  float: left;
}


.underline {
  border-bottom: solid, 10px, black;
}

