.background {
  background-color: #0CCE6B;
}

.center {
  text-align: center;
}

.searchBar {
  background-color: #ED7D3A;
  position: absolute;
  top: 0;
}

.searchBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.underline {
  border-bottom: solid, 10px, black;
}

