@model MealPrep.Models.Meal

@{
  Layout = "_Layout";
}

<h2>Meal Plan Details</h2>
<hr />
<h3>@Html.DisplayFor(model => model.Breakfast)<h3>
<h3>@Html.DisplayFor(model => model.Lunch)<h3>
<h3>@Html.DisplayFor(model => model.Dinner)<h3>